body {
    background-color: #2bb17c;
}

li  {
    display: inline-block;
    }

#maquina1 , #maquina2 , #maquina3 , #maquina4 , #maquina5 ,#maquina6 {
    background-clip:padding-box;
    background-color: gold;
    width: 50px;
    height: 50px;
    margin: 20px 15px;
    border-radius: 100%;
    font-size: 40px;
}

#listaMaquina {
    text-align: center;
}

#listaEscolha li {
    width: 50px;
    height: 50px;
    background-color: #0a5034;
    margin: 20px 15px;
    border-radius: 100%;
    font-size: 40px;
}

#listaEscolha {
    text-align: center;
}

input {
    text-align: center;

}

.escolha {
    display: flexbox;
    text-align: center;
}

.titulo {
    text-align: center;
}

#trevo {
    zoom:0.032;
    position: absolute;
    top: 150px;
    left: 150px;
}

p {
    font-size: 26px;
    color: black;
    text-align: center;
    margin-top:50px;
}

#gui {
    position: absolute;
    width: 60px;
    height: 60px;
    top:50px;
    right: 10px;
}

h3 {
    position: absolute;
    top: 0px;
    right: 10px;
}